name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Install X11 development libraries
        run: sudo apt-get update && sudo apt-get install -y libx11-dev libxinerama-dev libxrandr-dev libxcursor-dev libxi-dev libgl1-mesa-dev libxxf86vm-dev

      - name: Build
        run: go build -v ./...

      - name: Start xvfb
        run: |
          export DISPLAY=:99
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          sleep 3

      - name: Test
        env:
          DISPLAY: :99
        run: go test -v ./...
